################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/19-1-2025/ConsoleApp1
/19-1-2025/task/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex
/19-1-2025/task/ConsoleApp1/ConsoleApp1/bin/Debug
/19-1-2025/task/ConsoleApp1/ConsoleApp1/obj/Debug
/C_sharp/.vs/C_sharp/FileContentIndex/f337f3b4-426d-4eb0-a78d-b6f73656372f.vsidx
